pandas==2.2.3
numpy==1.26.4
scikit-learn==1.5.2
matplotlib==3.9.3
statsmodels==0.14.4
scipy==1.11.4
seaborn==0.13.2
econml==0.15.1
pingouin==0.5.5
biopython==1.84
langchain-ollama==0.2.1
langchain-aws==0.2.9
langchain-openai==0.3.3
